# Compiled binaries
boilerplate/engine
boilerplate/memory_hog
boilerplate/cpu_hog
boilerplate/io_pulse

# Kernel module build artifacts
*.ko
*.o
*.mod
*.mod.c
*.symvers
*.order
.tmp_versions/
Module.symvers
modules.order
.*.cmd

# Root filesystem directories
rootfs-base/
rootfs-*/
*.tar.gz

# Log files
boilerplate/logs/
*.log

# Socket
/tmp/mini_runtime.sock

# Editor/IDE files
.vscode/
.idea/
*.swp
*.swo
*~
